.prodContent{
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.prodImgContent{
    flex: 1;
}

.prodInfoContent{
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.imgtam{
    max-width: 75%;
}

.btn-group{
    justify-content: center;
}

.list-of-imgs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 20%;
    align-items: stretch;
}

.img-of-list{
    margin: 10px;
    flex: 1;
    border-style: groove;
    align-self: stretch;
}

.img-small{
    max-height: 100%;
    max-width: 65%;
}

h1, h2 {
      color: #888;
      margin:0;
      font-weight:normal;
}

h1{ padding-top: 1.5em; padding-bottom: 2em; } 

h2 {
      clear:both;
      color: #aaa;
      padding: 2em 0 0.3em
}

em{
    display: block;
    margin: .5em auto 2em;
    color: #bbb;
}

p, p a{ 
    color: #aaa;
    text-decoration: none;
}

p a:hover,
p a:focus {
    text-decoration: underline;
}
  
p + p { color: #bbb; margin-top: 2em;}
  
.detail {position: absolute; text-align: right; right: 5px; bottom: 5px; width: 50%;}
  
a[href*="intent"] {
    display:inline-block;
    margin-top: 0.4em;
}

  
/* Rating styles
*/
.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow:hidden;
    background: #FDFDFD;
    font-family: "Segoe WP","Segoe UI", Helvetica, Arial, sans-serif;
    text-align:center;
}

.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}
  
.rating a,

.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label:hover ~ label,

.rating input:focus ~ label,

.rating label:hover,
  
.rating a:hover,
  
.rating a:hover ~ a,
  
.rating a:focus,
  
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
  
.rating2 {
    direction: rtl;
}
  
.rating2 a {
    float:none
}