.inp {
    width: 200px;
}

.form-container {
    width: 65%;
}


@media (max-width: 850px) {
    .form-container{
        width: 60%;
    }
}

@media (max-width: 750px) {
    .form-container{
        width: 55%;
    }
}

@media (max-width: 670px) {
    .form-container{
        width: 50%;
    }
    .nombre{
        font-size: medium;
    }
}