.list-content{
    display: flex;
    flex-direction: row;
}

.cardStyle{
    width: 98%;
    margin: 10px;
}

.card-header{
    width: 100%;
}

.list-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.list-group{
    flex: 4;
}


.list-content{
    display: flex;
}

.list-group-item{
    flex: 2;
}