.dim {
    display: flex;
    width: 250px;
}


.card-text {
    color: black;
}

@media (max-width: 700px) {
    .dim{
        width: 200px;
    }
}

@media (max-width: 620px) {
    .dim{
        width: 170px;
    }
}