.card{
    margin: 10px;
}

.img-dim{
    width: 80%;
    height: 80%;
}

.card-text {
    color: black;
}


@media (max-width: 1600px) {
    .dim{
        min-width: 200px;
        width: 30%;
        height: 300px;
    }
}

@media (max-width: 1100px) {
    .dim{
        min-width: 200px;
        width: 40%;
        height: 250px;
    }
}

@media (max-width: 550px) {
    .dim{
        min-width: 200px;
        width: 80%;
        height: 250px;
    }
}