.cartContainer{
    margin: 10px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cartContent1{
    flex: auto;
}

.cartContent2{
    flex: auto;
}

.listContent{
    justify-content: space-around;
}

.icon{
    width: 20px;
}

.listContent{
    display: flex;
    flex-direction: row;
    text-align: start;
    
}


.listed-content-2{
    flex: 3;
    text-align: center;
    padding-top: 2px;
}

.listed-content-1{
    flex: 8;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    margin: 5px;
}

.hidden{
    display: flex;
    flex-direction: column;
}