.navegbar{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.imglad {
    padding-right: 5px;
}

.carrito{
    margin-bottom: 1px;
    width: "40";
    height: "37";
}

.navbar-content-1{
    flex: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    color: aliceblue;
}

.navbar-content-2{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex: 14;
}

.navbar-content-3{
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.mate{
    width: 32px;
    height: 32px;
}

.user{
    width: 32px;
    height: 32px;
}

.carrito{
    width: 39px;
    height: 36px;
}


@media (max-width: 900px) {
    .navbar-content-1{
        font-size: large;
    }
}

@media (max-width: 800px) {
    .navbar-content-1{
        font-size: medium;
    }
}


@media (max-width: 750px) {
    .navbar-content-2{
        flex: 13;
    }
}

@media (max-width: 603px) {
    .mate{
        width: 28px;
        height: 28px;
    }

    .carrito{
        width: 32px;
        height: 30px;
    }

    .user{
        width: 28px;
        height: 28px;
    }

    .imglad{
        padding-right: 3px;
    }
    .navbar-content-2{
        flex: 12;
    }
}

@media (max-width: 505px) {
    .navbar-content-1{
        display: none;
    }
}