.art{
    margin-top: 4px;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: start;
}
    
.bottom{
    position: absolute;
    width: 85%;
    left: 0;
    bottom: 0;
    padding-left: 15px;
    text-align: start;
}

.big{
    margin-top: 2px;
    margin-left: 8px;
    min-height: 97%;
    position: relative;
    min-width: 120px;
}


@media (max-width: 700px) {
    .bottom{
        display: none;
    }
}