.App {
  text-align: center;  
}



.ofertas{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
}

.oferta{
  margin-left: 5px;
  margin-right: 5px;
}

.menuNav{
  display: flex;
  justify-content: space-around;
}


.main{
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  flex: 80%;  
}

.side{
  flex: 20%;
  background-color: darkslategrey;
  color: white;
}

.menu{
  align-items: flex-start;
}