.home{
    display: flex;
}

h1{
    color: red;
}

.fila{
    display: flex;
    flex-direction: row;
}

.side{
    flex: 1;
    min-width: 175px;
}

.main{
    flex: 4;
}

.ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    align-items: initial;
    justify-content: space-around;
}

